body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(1, 8, 14);
}

.header {
  text-align: center;
  margin-bottom: 120px;
  margin-top: 0;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 13rem;
  color: rgb(233, 16, 88);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  text-shadow: 0.5px 0.5px #1df7f7;
}

#drum-machine {
  height: 100vh;
}

#drum-pads {
  width: 36vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 3, 3);
  border: 0.5px solid #05cfcf;
  align-self: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.drum-pad {
  border: 1px solid #1df7f7;
  border-radius: 12px;
  margin: 10px;
  height: 10vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  background: -moz-radial-gradient(center, #000000 0%, #1C6EA4 50%, #030B0B 100%);
  background: -webkit-radial-gradient(center, #000000 0%, #1C6EA4 50%, #030B0B 100%);
  background: radial-gradient(ellipse at center, #000000 0%, #1C6EA4 50%, #030B0B 100%);
  
}

.keyes {
  color:#1df7f7;
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 1px 1px  rgb(233, 16, 88);
  
}

#display {
  width: 50vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  color: rgb(233, 16, 88);
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}


