.App {
  text-align: center;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

#drum-pads {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  align-self: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.drum-pad {
  border: 1px solid #1df7f7;
  border-radius: 12px;
  margin: 10px;
  height: 13vh;
  width: 13vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  background: -moz-radial-gradient(center, #000000 0%, #1C6EA4 50%, #030B0B 100%);
  background: -webkit-radial-gradient(center, #000000 0%, #1C6EA4 50%, #030B0B 100%);
  background: radial-gradient(ellipse at center, #000000 0%, #1C6EA4 50%, #030B0B 100%);
  
}

.keyes {
  color:#1df7f7;
  font-size: 3rem;
}

#display {
  width: 50vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
